<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="x-dns-prefetch-control" content="on">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="telephone=no" name="format-detection">
<meta name="full-screen" content="yes">
<meta name="x5-fullscreen" content="true">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>放心购</title>
<link rel="icon" href="/favicon.ico" type="images/x-icon">
<link rel="stylesheet" type="text/css" href="css/mobilecss.css">
</head>
<body>
<div class="top">
<div class="top-box">
<div class="main-top"><a href="javascript:history.go(-1)"><i class="main-icon1"></i></a>
<div class="search">
            <form name="searchform" method="get" action="msearch.html"><input type="submit" class="icon-sousuo" value="">
                <span>
                        <input name="wd" type="text" id="key" onfocus="this.value=&#39;&#39;;this.style.color=&#39;#000&#39;;" class="input_tt" value="搜索商品、品牌" onblur="if(this.value==&#39;&#39;) this.value=&#39;搜索商品、品牌&#39;;">
                </span>
            </form>
        </div>
<a href="mindex.html"><i class="main-icon2"></i></a></div>


<div class="nave clear">
<div class="navelist"><ul><li>
<a class="this" href="mlist.html">女装</a></li><li><a href="mlist.html">男装</a></li><li><a href="mlist.html">内衣</a></li><li><a href="mlist.html">女鞋</a></li><li><a href="mlist.html">男鞋</a></li></ul><div id="aa" onclick="toggleWords(this);" class="more arrow_down"><i></i></div></div>
<div class="dewm" id="dewmdiv"><a href="#">女包</a><a href="#">男包</a><a href="#">日用</a><a href="#">床品</a><a href="#">收纳</a><a href="#">护肤</a><a href="#">彩妆</a><a href="#">护发</a><a href="#">户外</a><a href="#">运动服</a><a href="#">饰品</a><a href="#">手表</a><a href="#">眼镜</a><a href="#">数码配件</a><a href="#">电脑</a><a href="#">家居</a><a href="#">玩具</a><a href="#">零食</a><a href="#">冲饮</a><a href="#">电器</a><a href="#">厨房</a><a href="#">宠物</a><a href="#">音乐音像</a></div>
</div>
</div>
</div>




<div class="box">
<div class="content"><ul class="goods"><li class="goods-item"><a href="mshow.html"><div class="goods-pic"><div class="goods-tu goods-img"><img src="images/11.jpg"></div></div>
<div class="goods-item-name">冬季新款女装袖珍式内胆轻巧温暖时尚羽绒夹克冬季新款女装袖珍式内胆轻巧温暖时尚羽绒夹克</div><div class="goods-item-price">￥312.00</div></a></li><li class="goods-item"><a href="mshow.html"><div class="goods-pic"><div class="goods-tu goods-img"><img src="images/10.jpg"></div></div>
<div class="goods-item-name">新款女装袖珍式内胆轻巧温暖</div><div class="goods-item-price">￥218.00</div></a></li><li class="goods-item"><a href="mshow.html"><div class="goods-pic"><div class="goods-tu goods-img"><img src="images/9.jpg"></div></div>
<div class="goods-item-name">新款女装袖珍式内胆轻巧温暖时尚羽绒夹克</div><div class="goods-item-price">￥322.00</div></a></li><li class="goods-item"><a href="mshow.html"><div class="goods-pic"><div class="goods-tu goods-img"><img src="images/13.jpg"></div></div>
<div class="goods-item-name">冬季新款女装袖珍式内胆轻巧温暖时尚羽绒夹克冬季新款女装袖珍式内胆轻巧温暖时尚羽绒夹克</div><div class="goods-item-price">￥312.00</div></a></li><li class="goods-item"><a href="mshow.html"><div class="goods-pic"><div class="goods-tu goods-img"><img src="images/12.jpg"></div></div>
<div class="goods-item-name">冬季新款女装袖珍式内胆轻巧温暖时尚羽绒夹克冬季新款女装袖珍式内胆轻巧温暖时尚羽绒夹克</div><div class="goods-item-price">￥312.00</div></a></li><li class="goods-item"><a href="mshow.html"><div class="goods-pic"><div class="goods-tu goods-img"><img src="images/15.jpg"></div></div>
<div class="goods-item-name">新款女装袖珍式内胆轻巧温暖</div><div class="goods-item-price">￥218.00</div></a></li><li class="goods-item"><a href="mshow.html"><div class="goods-pic"><div class="goods-tu goods-img"><img src="images/14.jpg"></div></div>
<div class="goods-item-name">新款女装袖珍式内胆轻巧温暖时尚羽绒夹克</div><div class="goods-item-price">￥322.00</div></a></li><li class="goods-item"><a href="mshow.html"><div class="goods-pic"><div class="goods-tu goods-img"><img src="images/13.jpg"></div></div>
<div class="goods-item-name">冬季新款女装袖珍式内胆轻巧温暖时尚羽绒夹克冬季新款女装袖珍式内胆轻巧温暖时尚羽绒夹克</div><div class="goods-item-price">￥312.00</div></a></li></ul></div>


<div class="page">
<ul class="page-list"><li><a href="#">上一页</a></li><li><a href="#">1</a></li><li><a href="#">2</a></li><li><a class="cur" href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#">下一页</a></li></ul></div>

</div>

<a href="javascript: void(0);" data-event_id="MHome_BackTop" class="totop" style="display: none;"></a>

<div id="foot"><div class="foot-copyright">© 2019 <a href="https://xxx.com/">放心购</a> All Rights Reserved </div>
</div>



<script src="js/jquery.min.js"></script> 
<script src="js/mobile.js"></script> 
 <script type="text/javascript">

   function toggleWords(obj)
    {
		
        var target = !!window.ActiveXObject ? obj.parentNode.nextSibling : obj.parentNode.nextElementSibling;
       
        target.style.display = !target.style.display || target.style.display == 'none' ? 'block' : 'none';

	obj.className = obj.className == 'more arrow_down' ? 'more arrow_up' : 'more arrow_down';
        return false;
    }
	        $(window).scroll(function () {
			if ($(window).scrollTop() > 500) {
                $(".totop").fadeIn(1000);
            }
            else {
                $(".totop").fadeOut(1000);
            }
        });

</script>   


</body></html>